/* BASE - author: https://www.praguecoding.cz (all rights reserved)
======================================================== */
/* main
-------------------------------------------------------- */
:root {
	--red: #ff5e5e;
	--redsoft: #fcf4f3;
	--green: #27c782;
	--gray: #5a6169;
	--grayc:  #f2f2f2;
	--grayalt: #eaeaea;
	--graysoft: #ededed;
	--graysoftest: #f8f8f8;
	--white: #fff;
	--black: #000;
	--background: #fcfcfc;
	--shadow: 0px 1px 4px #eaeaea;
	--shadow-big: 0px 1px 20px #eaeaea;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: BlinkMacSystemFont,Helvetica Neue,'Poppins',sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	position: relative;
	min-height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	color: var(--black);
	background: url('svg/bg-wave.svg') bottom center no-repeat;
	background-size: 100%;
	background-color: var(--background);
}

::-moz-selection {
	background: var(--red);
	color: var(--white);
}

::selection {
	background: var(--red);
	color: var(--white);
}

:focus {
	outline: 0px;
}

img {
	border: 0;
	max-width: 100%;
	vertical-align: bottom;
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: 500;
}

input, button {
	border: 0;
	border-radius: 0;
}

input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input:focus, button:focus, textarea:focus {
	outline: 0;
}

button {
	overflow: visible;
	text-transform: none;
}

select {
	text-transform: none;
}

textarea {
	overflow: auto;
	border: 0px;
}

/* helpers
-------------------------------------------------------- */
.h-hidden {
	display: none;
}

.h-noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* text
-------------------------------------------------------- */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p {
	font-size: 14px;
	line-height: 24px;
	padding: 0;
	margin: 0;
}

b, .b, strong, .strong {
	font-weight: 500;
}

em, .em {
	font-style: italic;
}

u, .u {
	text-decoration: underline;
}

a, .a {
	color: var(--black);
	text-decoration: underline;
	cursor: pointer;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:hover, .a:hover {
	text-decoration: none;
}

/* CUSTOM PROJECT CSS
======================================================== */

/* header
-------------------------------------------------------- */
.header {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	padding: 15px 20px 10px;
	border-bottom: 1px solid var(--graysoft);
}

.header__logo {
	margin-right: 20px;
	cursor: pointer;
}

.header__logo__img {
	display: block;
	width: 35px;
	height: 35px;
	background: url(svg/logo.svg) no-repeat center center;
	background-size: 35px;
}

.header__right {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.header__user {
	margin-left: 20px;
	cursor: pointer;
}

.header__avatar {
	z-index: 20;
}

/* container
-------------------------------------------------------- */
.container {
	width: 100%;
	padding: 0 20px;
}
.container--np {
	padding: 0;
}

/* btn
-------------------------------------------------------- */
.btn {
	display: inline-block;
	padding: 6px 20px;
	text-decoration: none;
	border: 0px;
	border-radius: 36px;
	background: var(--red);
	color: var(--white);
	cursor: pointer;
	margin-right: 0px;
	font-size: 12.6px;
	height: 36px;
}
.btn:hover {
	text-decoration: none;
}

.btn--sec {
	background: var(--gray);
}

.btn--blank {
	color: var(--gray);
	background: transparent;
}
.btn--blank:hover {
	text-decoration: underline;
}

.btn--blank-np {
	color: var(--gray);
	background: transparent;
	padding-left: 0;
	padding-right: 0;
}
.btn--blank-np:hover {
	text-decoration: underline;
}

.btn--invite {
	background: var(--red);
	background-image: url('svg/share-white.svg');
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center left 16px;
	padding-left: 34px;
}

.btn--add {
	background-image: url('svg/plus-white.svg');
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: center left 14px;
	padding-left: 34px;
}

.btn--add-sec {
	background-color: var(--gray);
	background-image: url('svg/plus-white.svg');
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: center left 14px;
	padding-left: 34px;
}

.btn--add-light {
	background-image: url(svg/plus-color.svg);
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: center left 14px;
	background-color: transparent;
	padding-left: 34px;
	color: var(--red);
}
.btn--add-light:hover {
	text-decoration: none;
}

.btn--add-light-np {
	background-image: url(svg/plus-color.svg);
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: center left 0px;
	background-color: transparent;
	padding-left: 20px;
	color: var(--red);
}
.btn--add-light-np:hover {
	text-decoration: none;
}

.btn--upload {
	background-image: url(svg/clip-white.svg);
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: center left 14px;
	padding-left: 34px;
	background-color: var(--red);
}

.btn--load-more {
	color: var(--gray);
	background: var(--graysoftest);
	padding: 2px 10px;
	height: auto;
	margin-top: 10px;
}

.btn--select {
	color: var(--black);
	background: var(--white);
	background-image: url(svg/arrow-down.svg);
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center left 14px;
	padding-left: 34px;
	box-shadow: var(--shadow);
}

.btn--wide {
	width: 100%;
}

/* btnset
-------------------------------------------------------- */
.btnset {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	height: 36px;
	border-right: 1px solid var(--graysoft);
	margin-right: 20px;
	padding-right: 20px;
}

.btnset__box {
	display: inline-block;
	background-image: url(svg/back.svg);
	background-size: 8px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: var(--white);
	box-shadow: var(--shadow);
	border-radius: 6px;
	height: 36px;
	width: 36px;
}

.btnset__text {
	display: inline-block;
	position: relative;
	top: -13px;
	padding-left: 10px;
	font-size: 12.6px;
	color: var(--gray);
	min-width: 56px;
}

/* headline
-------------------------------------------------------- */
.headline {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
}

/* projects
-------------------------------------------------------- */
.projects {
	position: relative;
	padding-bottom: 15px;
}

/* pbox
-------------------------------------------------------- */
.pbox {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	border-radius: 12px;
	background: var(--white);
	padding: 30px;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
	max-width: 100%;
	margin: 0 auto 15px;
	box-shadow: var(--shadow);
}

.pbox__left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	width: 100%;
}

.pbox__right {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.pbox__name {
	font-size: 18px;
	font-weight: 500;
	width: 100%;
	max-width: 620px;
	padding-right: 15px;
	overflow: hidden;
	background: transparent;
	text-overflow: ellipsis;
}

.pbox__info {
	font-weight: 300;
	width: 100px;
}

.pbox__labels {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 220px;
}

.pbox__users {
	position: relative;
	padding-left: 22px;
	margin-right: 30px;
	background: url(svg/users.svg) center left no-repeat;
	background-size: 15px;
	width: 48px;
}

.pbox__icons {
	position: absolute;
	top: 33px;
	right: 30px;
	display: block;
}

/* icon
-------------------------------------------------------- */
.icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.icon--more {
	background: url("svg/more.svg") center center no-repeat;
	background-size: 13px;
}

/* label
-------------------------------------------------------- */
.label {
	display: inline-block;
	text-decoration: none;
	font-size: 12.6px;
	padding: 0px 10px;
	border-radius: 25px;
	margin-right: 3px;
	background: var(--green);
	color: var(--white);
}

.label--clear {
	background: var(--white);
	color: var(--black);
}

.label--clear-np {
	padding-left: 0px;
	background: var(--white);
	color: var(--black);
}

.label--tome {
	background: var(--white);
	color: var(--red);
}

/* content
-------------------------------------------------------- */
.content {
	margin: 0 auto;
	max-width: 980px;
	margin-bottom: 100px;
}

/* settings
-------------------------------------------------------- */
.settings {
	padding: 20px 30px 30px;
	border-radius: 12px;
	background: var(--white);
	box-shadow: var(--shadow);
}

/* form elements
-------------------------------------------------------- */
.form-group {
	position: relative;
	margin-bottom: 20px;
}

.form-label {
	display: block;
	font-size: 12.6px;
}
.form-input {
	background-color: var(--white);
	border: 1px solid var(--graysoft);
	font-weight: 300;
	padding: 6px 16px;
	border-radius: 25px;
	width: 100%;
}
.form-input:focus {
	box-shadow: var(--shadow);
}

.form-input--invalid {
	border: 1px solid var(--red);
}

.form-input--valid {
	border: 1px solid var(--green);
}

.form-info {
	position: absolute;
	bottom: -22px;
	font-size: 11px;
	color: var(--red);
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.form-headline {
	font-weight: 500;
	margin-bottom: 7px;
	padding-top: 30px;
}
.form-headline--np {
	padding-top: 15px;
}

.form-text {
	font-size: 12.6px;
	font-weight: 300;
	margin-top: 4px;
	line-height: 18.2px;
}

.form-check {
	padding-left: 20px;
}

.form-check-label {
	cursor: pointer;
	font-size: 16px;
}

.form-check-input {
	position: absolute;
	margin-top: 6px;
	margin-left: -20px;
	border-radius: 13px;
}

/* avatar
-------------------------------------------------------- */
.avatar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	padding-top: 7px;
}

.avatar__img {
	border-radius: 50%;
	border: 2px solid var(--graysoft);
	display: inline-block;
	width: 112px;
	height: 112px;
	overflow: hidden;
}

.avatar__right {
	margin-left: 20px;
}

/* tasklist
-------------------------------------------------------- */
.tasklist {
	margin: 0 0 20px;
	padding: 32px 30px 36px;
	border-radius: 12px;
	background: var(--white);
	box-shadow: var(--shadow);
}

.tasklist__top {
	position: relative;
	padding-right: 25px;
}

.tasklist__name {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	width: 100%;
}
.tasklist__input {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	width: 100%;
	background: transparent;
}
.tasklist__new__input {
	font-size: 18px;
	font-weight: 500;
	width: 100%;
	background: transparent;
}

.tasklist__btns {
	margin-top: 30px;
	margin-bottom: 60px;
}

.tasklist__icons {
	position: absolute;
	top: 1px;
	right: 0px;
	display: block;
}

/* tasks
-------------------------------------------------------- */
.tasks__btns {
	margin-top: 10px;
}

/* task
-------------------------------------------------------- */
.task {
	width: 100%;
	border-bottom: 1px solid var(--graysoftest);
	padding: 12px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.task--last {
	border-bottom: 1px solid transparent;
}

.task__left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding-top: 4px;
	width: 100%;
}

.task__right {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.task__name {
	padding-left: 20px;
	padding-right: 10px;
	width: 100%;
}
.task__name--big {
	font-size: 18px;
	font-weight: 500;
	margin-right: 5px;
}

.task__name__input {
	width: 100%;
	background: transparent;
}

.task__name__text {
	display: inline-block;
	text-decoration: none;
	width: 100%;
	word-wrap: break-word;
	cursor: pointer;
}

.task__checkbox {
	display: block;
	cursor: pointer;
	width: 18px;
}
.task__checkbox--big {
	width: 22px;
}

.task__checkbox__img {
	position: relative;
	top: 2px;
	display: block;
	width: 18px;
	height: 18px;
	background: url('svg/checkbox-task.svg') no-repeat center center;
	background-size: 18px;
}
.task__checkbox__img:hover {
	background-image: url('svg/checkbox-task-done.svg');
}

.task__checkbox__img--done {
	background-image: url('svg/checkbox-task-done.svg');
}
.task__checkbox--big .task__checkbox__img {
	width: 22px;
	height: 22px;
	background-size: 22px;
	top: 0px;
}

.task__date {
	cursor: pointer;
	margin-left: 20px;
	text-decoration: none;
	width: 82px;
}
.task__date:hover {
	text-decoration: underline;
}
.task__date--due {
	color: var(--red);
}

.task__user {
	cursor: pointer;
}

.task__user-text {
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none;
	width: 100px;
	padding: 0 10px;
}
.task__user-text:hover {
	text-decoration: underline;
}

.task__assignee {
	margin-right: 15px;
}

.task__infotext {
	margin-right: 15px;
}

.task__comments {
	position: relative;
	margin-left: 50px;
	padding-left: 24px;
	background: url('svg/comment.svg') center left no-repeat;
	background-size: 16px;
	width: 48px;
}
.task__comments--new:before {
	content: "";
	position: absolute;
	display: block;
	height: 7px;
	width: 7px;
	background: var(--red);
	left: 12px;
	top: 2px;
	border-radius: 10px;
}

/* circle
-------------------------------------------------------- */
.circles {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.circle {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50px;
	margin-right: -3px;
	background: var(--grayc);
	overflow: hidden;
}
.circle--add-user {
	background: url(svg/plus-white.svg) center center no-repeat;
	background-color: lightgray;
	background-size: 10px;
}

.circle--big {
	width: 36px;
	height: 36px;
	margin-right: 0px;
}

.circle--small {
	width: 26px;
	height: 26px;
	margin-right: 0px;
}

.circle__text {
	height: 31px;
	width: 31px;
	color: var(--gray);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.circle__text__inicials {
	font-size: 11px;
	font-weight: 500;
}

/* top
-------------------------------------------------------- */
.top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	padding: 40px 0 20px;
	margin: 0 auto;
	max-width: 980px;
}

/* comment
-------------------------------------------------------- */
.comment {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 20px 0;
	position: relative;
}
.comment--new {
	margin-bottom: 4px;
}
.switch + .comment {
	margin-top: 10px;
}

.comment__left {
	padding: 0 20px 0 0;
	z-index: 1;
}
.comment__right {
	width: 100%;
}

.comment__content {
	background: var(--graysoftest);
	border: 1px solid var(--graysoftest);
	padding: 10px 15px 15px;
	border-radius: 12px;
}

.comment__user {
	font-weight: 500;
}

.comment__text {
	word-wrap: break-word;
}

.comment__date {
	display: inline-block;
	font-size: 12.6px;
	margin-left: 20px;
	font-weight: 300;
}

.comment__icons {
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
}

/* inforow
-------------------------------------------------------- */
.inforow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 25px 0;
}
.inforow--hidden {
	display: none;
}

.inforow__left {
	padding: 0 20px 0 0;
}

.inforow__right {
	padding-left: 15px;
	width: 100%;
}

.inforow__text {
	color: var(--gray);
	line-height: 16px;
	word-wrap: break-word;
}

.inforow__date {
	color: var(--gray);
	display: inline-block;
	font-size: 12.6px;
	font-weight: 300;
}

/* detail
-------------------------------------------------------- */
.detail {
	padding: 20px 30px 30px;
	border-radius: 12px;
	background: var(--white);
	box-shadow: var(--shadow);
}

.detail__top {
	width: 100%;
	padding: 10px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.detail__top__left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	width: 100%;
	padding-top: 4px;
}

.detail__top__right {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.detail__top__icons {
	padding-top: 3px;
}

.detail__bottom {
	width: 100%;
	padding: 15px;
	margin-top: 8px;
	border-radius: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: var(--graysoftest);
}

.detail__bottom__left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.detail__bottom__right {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.detail__bottom .circle {
	/*background-color: var(--white);*/
}

/* sidebar switch
-------------------------------------------------------- */
.sidebar-switch {
	display: block;
	position: absolute;
	top: 102px;
	right: 20px;
	background-color: var(--white);
	box-shadow: var(--shadow);
	border-radius: 6px;
	height: 36px;
	width: 36px;
	cursor: pointer;
	z-index: 10;
}

.sidebar-switch__icon {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 36px;
	width: 100%;
}

.sidebar-switch__icon--new:before {
	content: "";
	position: absolute;
	display: block;
	height: 7px;
	width: 7px;
	background: var(--red);
	right: 9px;
	top: 8px;
	border-radius: 10px;
	z-index: 11;
}

.sidebar-switch__icon__img {
	position: relative;
	width: 36px;
	height: 36px;
	background: url('svg/alarm.svg') no-repeat center center;
	background-size: 14px;
}

.sidebar-switch--on {
	background-color: var(--red);
}
.sidebar-switch--on .sidebar-switch__icon__img {
	background: url('svg/alarm-white.svg') no-repeat center center;
	background-size: 14px;
}
.sidebar-switch--on .sidebar-switch__icon--new:before {
	background: var(--white);
	height: 6px;
	width: 6px;
	border: 1px solid var(--red);
}


/* top arrow
-------------------------------------------------------- */
.top-arrow {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: url('svg/arrow-up.svg') no-repeat center center;
	background-size: 12px;
	background-color: var(--white);
	box-shadow: var(--shadow);
	border-radius: 6px;
	height: 36px;
	width: 36px;
	cursor: pointer;
	z-index: 10;
}

.top-arrow--on {
	display: block;
}

/* sidebar
-------------------------------------------------------- */
.sidebar {
	position: absolute;
	display: block;
	top: 80px;
	right: 10px;
	min-height: 300px;
	height: calc(100vh - 100px);
	width: 305px;
	z-index: 9;
	right: 10px;
	display: none;
	background: var(--white);
	box-shadow: var(--shadow-big);
	border-radius: 12px;
}
.sidebar--show {
	display: block;
}

.sidebar__top {
	padding: 20px 20px 0px;
}

.sidebar__headline {
	font-weight: 500;
	margin-bottom: 5px;
}

.sidebar__content {
	overflow-x: hidden;
	overflow-y: scroll;
	min-height: 230px;
	height: calc(100vh - 170px);
	width: 100%;
	padding: 0px 20px 50px;
}
.sidebar__content::-webkit-scrollbar {
	display: none;
}

/* notification
-------------------------------------------------------- */
.notification {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	line-height: 20px;
	padding: 8px 0;
	text-decoration: none;
}

.notification__left {
	padding-top: 4px;
}

.notification__right {
	padding-left: 5px;
	width: 100%;
}

.notification__text {
	word-wrap: break-word;
	color: var(--gray);
}
.notification__text strong {
	font-weight: 400;
	color: var(--black);
}

.notification__comment {
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	border-radius: 6px;
	background: var(--graysoftest);
	padding: 7px 10px;
	word-wrap: break-word;
}

.notification__date {
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	color: var(--gray);
}

/* sdivider
-------------------------------------------------------- */
.sdivider {
	position: relative;
	margin-top: 12px;
	position: relative;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
}

/* storage
-------------------------------------------------------- */
.storage {
	position: relative;
	height: 3px;
	width: 100%;
	background: var(--graysoft);
}

.storage__in {
	height: 100%;
	width: 0%;
	background: var(--red);
}

.storage__text {
	font-size: 12.6px;
	font-weight: 300;
	margin-top: 4px;
	line-height: 18.2px;
	margin-bottom: 10px;
}

/* loading
-------------------------------------------------------- */
.loading {
	position: fixed;
	top: 0px;
	left: 0%;
	height: 2px;
	width: 0px;
	background: var(--red);
	z-index: 20;
}
.loading--active {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-name: loading;
	animation-name: loading;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
	0% {
		left: 0%;
		width: 0px;
	}
	20% {
		width: 100px;
	}
	100% {
		left: 100%;
		width: 300px;
	}
}

@keyframes loading {
	0% {
		left: 0%;
		width: 0px;
	}
	20% {
		width: 100px;
	}
	100% {
		left: 100%;
		width: 300px;
	}
}

/* dropdown
-------------------------------------------------------- */
.dropdown {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dropdown--active .dropdown__menu {
	display: block;
}

.dropdown__menu {
	position: absolute;
	display: none;
	top: 30px;
	right: -10px;
	height: auto;
	width: 210px;
	background: var(--white);
	border-radius: 6px;
	box-shadow: var(--shadow-big);
	z-index: 5;
}
.dropdown__menu--task {
	top: 41px;
}
.dropdown__menu--option {
	top: 44px;
}

.dropdown__content {
	position: relative;
	padding: 15px 0;
	max-height: 400px;
	overflow: hidden;
	overflow-y: scroll;
}
.dropdown__content::-webkit-scrollbar {
	display: none;
}

.dropdown__head {
	font-weight: 500;
	padding: 0 15px 15px;
	margin-bottom: 5px;
	border-bottom: 1px solid var(--grayalt);
}

.dropdown__headline {
	font-size: 12.8px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 15px 15px 0;
}

.dropdown__edit {
	box-shadow: inset 0 0 5px rgba(0,0,0,.05);
	background: var(--graysoftest);
	padding: 10px 0;
	display: none;
}
.dropdown__edit--show {
	display: block;
}

.dropdown__edit__option {
	display: block;
	position: relative;
	padding: 5px 15px;
	cursor: pointer;
	padding-right: 34px;
	font-size: 12.6px;
}
.dropdown__edit__option:hover {
	text-decoration: underline;
}

.dropdown__option {
	display: block;
	position: relative;
	padding: 5px 15px;
	cursor: pointer;
	background: var(--white);
	padding-right: 34px;
	text-decoration: none;
}
.dropdown__option:hover {
	background-color: var(--graysoftest);
}
.dropdown__option--check {
	background-image: url('svg/check.svg');
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: top 10px right 14px;
}

.dropdown__set--paddings {
	padding: 0 10px;
}

.dropdown__item {
	padding: 5px 0;
}
.dropdown__item--last {
	padding-bottom: 0px;
}
.dropdown__item--top {
	padding-top: 0px;
}
.dropdown__item--paddings {
	padding-right: 10px;
	padding-left: 10px;
}

.dropdown__user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	padding: 5px 10px;
	cursor: pointer;
	background: var(--white);
	padding-right: 34px;
}
.dropdown__user:hover {
	background-color: var(--graysoftest);
}

.dropdown__user--check {
	background-image: url('svg/check.svg');
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center right 15px;
}
.dropdown__user--active:hover {
	background: transparent;
}

.dropdown__user__name {
	width: 100%;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* login
-------------------------------------------------------- */
.login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100vh;
	min-height: 600px;
	padding: 10px;
}

.login__logo {
	margin: 0px auto 20px;
	text-align: center;
}

.login__box {
	background: var(--white);
	margin: 0 auto;
	max-width: 300px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	padding: 40px 30px 25px;
	text-align: center;
	border-radius: 12px;
}

.login__box-down {
	text-align: center;
	margin-top: 20px;
}

.login__logo__img {
	width: 50px;
}

.login__logo__text {
	margin-top: 10px;
	text-align: center;
}

/* toast
-------------------------------------------------------- */
.toast {
	position: fixed;
	bottom: 15px;
	right: 20px;
	z-index: 20;
}

.toast__box {
	position: relative;
	width: 100%;
	background: var(--red);
	color: var(--white);
	border-radius: 12px;
	margin-bottom: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	opacity: 0;
	-webkit-transition: all .5s;
	transition: all .5s;
	overflow: hidden;
}
.toast__box--active {
	opacity: 1;
}
.toast__box--ok {
	background: var(--green);
}
.toast__box--neutral {
	background: var(--gray);
}
.toast__box--fail {
	background: var(--red);
}

.toast__box:after {
	content: "";
	position: absolute;
	bottom: 0px;
	height: 2px;
	width: 0%;
	background: var(--white);
}

.toast__text {
	padding: 20px 30px 20px 20px;
	line-height: 20px;
}

.toast__close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background: url("svg/close-white.svg") center center no-repeat;
	background-size: 10px;
}

.toast__box--active.toast__box:after {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-name: toastbar;
	animation-name: toastbar;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes toastbar {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes toastbar {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

/* switch
-------------------------------------------------------- */
.switch {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 10px;
}

.switch__content {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.switch__content--left {
	margin-left: 0;
}

.switch__text {
	font-size: 12px;
	font-weight: 300;
	line-height: 12px;
	padding-right: 10px;
	color: var(--gray);
}

.switch__box {
	position: relative;
	height: 3px;
	width: 20px;
	background: var(--graysoft);
}

.switch__box__in {
	height: 100%;
	width: 8px;
	margin-left: 0px;
	background: var(--red);
	transition: all .5s;
	-webkit-transition: all .5s;
}

.switch--on .switch__box__in {
	margin-left: 12px;
	background: var(--green);
}

/* texta
-------------------------------------------------------- */
.texta {
	position: relative;
	border: 1px solid var(--graysoft);
	padding: 10px 15px;
	border-radius: 12px;
	margin-bottom: 7px;
}

.texta__textarea {
	width: 100%;
	border: 0;
	resize: none;
	height: 70px;
	background: transparent;
	transition: height .5s;
	-webkit-transition: height .5s;
}

.texta__control {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 10px 0 0 0;
}

.texta__control__left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.texta__control__right {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.texta__icon {
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 20px;
	background: url('svg/texta-h.svg') no-repeat center center;
	background-size: 14px;
	cursor: pointer;
}
.texta__icon:hover {
	background-color: var(--graysoftest);
}
.texta__icon--h {
	background-image: url('svg/texta-h.svg');
	background-size: 12px;
}
.texta__icon--b {
	background-image: url('svg/texta-b.svg');
	background-size: 10px;
}
.texta__icon--i {
	background-image: url('svg/texta-i.svg');
	background-size: 8.7px;
}
.texta__icon--u {
	background-image: url('svg/texta-u.svg');
	background-size: 12px;
}
.texta__icon--ul {
	background-image: url('svg/texta-ul.svg');
}
.texta__icon--ol {
	background-image: url('svg/texta-ol.svg');
}
.texta__icon--file {
	background-image: url('svg/clip.svg');
	background-size: 16px;
	margin-right: 5px;
}

/* lightbox
-------------------------------------------------------- */
.lightbox {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
}
.lightbox--show {
	display: block;
}

.lightbox__invite {
	padding: 20px 20px 2px;
	margin: 10px 0 30px;
	background: var(--graysoftest);
	border-radius: 12px;
}

.lightbox__wrapper {
	margin: 0px auto;
}

.lightbox__content {
	padding-bottom: 20px;
}

.lightbox__background {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: var(--graysoftest);
	opacity: .9;
	z-index: 25;
}

.lightbox__box {
	position: relative;
	max-width: 860px;
	margin: 60px auto;
	padding: 30px;
	border-radius: 12px;
	background: var(--white);
	box-shadow: var(--shadow);
	z-index: 30;
}

.lightbox__headline {
	font-size: 18px;
	font-weight: 500;
	margin: 20px 0 5px;
	width: 100%;
}

.lightbox__close {
	position: absolute;
	top: 30px;
	right: 30px;
	display: inline-block;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background: url('svg/close.svg') center center no-repeat;
	background-size: 13px;
}

/* person
-------------------------------------------------------- */
.person {
	position: relative;
	width: 100%;
	border-bottom: 1px solid var(--graysoftest);
	padding: 10px 0;
	border-radius: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.person__left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	width: 100%;
}

.person__right {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.person__name {
	padding-top: 4px;
	padding-left: 20px;
	padding-right: 10px;
	width: 100%;
}

.person__role {
	padding-top: 4px;
	padding-right: 35px;
	width: 100%;
}

.person__icons {
	position: absolute;
	top: 17px;
	right: 5px;
	display: block;
}

/* responsive
-------------------------------------------------------- */
@media(max-width: 760px) {
	.btnset {
		border-right: 0px solid var(--graysoft);
		padding-right: 0px;
	}

	.btnset__text {
		display: none;
	}

	.task__right {
		display: none;
	}

	.pbox__right {
		display: none;
	}

	.detail__bottom {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.detail__bottom__right {
		margin-left: 0;
		margin-top: 10px;
	}

	.texta__control__left {
		display: none;
	}
}

@media(max-width: 420px) {
	.header {
		padding-left: 10px;
		padding-right: 10px;
	}

	.container {
		padding-left: 10px;
		padding-right: 10px;
	}

	.pbox {
		padding: 20px
	}

	.pbox__icons {
		top: 23px;
		right: 20px;
	}

	.headline {
		font-size: 20px;
	}

	.top {
		padding-top: 30px;
	}

	.sidebar-switch {
		top: 92px;
		right: 10px;
	}

	.sidebar {
		top: 70px;
		right: 0px;
		border-radius: 12px 0 0 12px;
	}

	.tasklist {
		margin-bottom: 0px;
		padding: 20px 0px;
		background: none;
		box-shadow: none;
	}

	.detail {
		padding: 0px;
		background: none;
		box-shadow: none;
	}

	.comment__left {
		padding: 0px;
	}

	.inforow__left {
		padding: 0px;
	}

	.settings {
		padding: 0px;
		background: none;
		box-shadow: none;
	}

	.dropdown__menu {
		right: -5px;
	}

	.lightbox__box {
		border-radius: 0px;
		padding: 15px 10px;
	}

	.lightbox__close {
		top: 20px;
		right: 20px;
	}

	.sidebar {
		height: calc(100vh - 195px);
	}

	.sidebar__content {
		height: calc(100vh - 265px);
	}

}

/* react datepicker
-------------------------------------------------------- */
.react-datepicker__input-container {
	width: 60% !important;
}


.react-datepicker__close-icon::after {
	background-color: var(--red) !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range {
	background-color: var(--red) !important;
}

/* darkmode
-------------------------------------------------------- */
.darkmode {
	--red: #ff5e5e;
	--redsoft: #fcf4f3;
	--green: #27c782;
	--gray: #c5c5c5;
	--grayc:  #313131;
	--grayalt: #1f1f1f;
	--graysoft: #1f1f1f;
	--graysoftest: #1f1f1f;
	--white: #171717;
	--black: #fff;
	--background: #0c0c0c;
	--shadow: 0px;
	--shadow-big: 0px 0px 1px #464646;
}

body.darkmode {
	background-image: none;
}

.darkmode .btn {
	color: var(--black);
}
.darkmode .btn--sec {
	background-color: var(--grayc);
}
.darkmode .btn--add-sec {
	background-color: var(--grayc);
}
.darkmode .btn--add-light {
	color: var(--red);
}

.darkmode .sidebar-switch--on .sidebar-switch__icon--new:before {
	background: var(--black);
}

button[data-trix-attribute="heading1"],
button[data-trix-attribute="quote"],
button[data-trix-attribute="code"],
button[data-trix-action="decreaseNestingLevel"] ,
button[data-trix-action="increaseNestingLevel"] {
	display: none;
}



